<ul class="nav">
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/sequences">
            <i class="material-icons">drag_indicator</i>
            <p>Sequences</p>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/similarity_network">
            <i class="material-icons">graphic_eq</i>
            <p>Similarity Network</p>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/model_viewer">
            <i class="material-icons">visibility</i>
            <p>Model Viewer</p>
        </a>
    </li>
</ul>