<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/sequences">
            <p>Sequences</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/similarity_network">
            <p>Similarity Network</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/model_viewer">
            <p>Model Viewer</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mopac">
            <p>MOPAC</p>
        </a>
    </li>
</ul>