{% set title = "Model Viewer" %}
{% extends "base.html"%}

{% block js %}
    <script>
        (function(window, document, $, undefined)
        {
            $("#sequenceSelect").select2({theme: 'bootstrap4'});
            var options = {
              width: "auto",
              height: "auto",
              antialias: true,
              quality : 'high',
              fog: false
            };
            // insert the viewer under the Dom element with id 'gl'.
            var viewer = pv.Viewer($("#viewer")[0], options);
            $('#sequenceSelect').on("select2:select", function(e) { 
                var data = e.params.data;
                $.ajax
                ({
                    type: "POST",
                    url: "/backend/sequence/pdb",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({
                        "sequenceName": data.id
                    }),
                    error: function (jqXHR, textStatus, errorThrown) {
                        switch (jqXHR.status)
                        {
                            case 200:
                                let structure = pv.io.pdb(jqXHR.responseText)
                                
                                viewer.cartoon('protein', structure);
                                viewer.ballsAndSticks('ligand', structure);
                                viewer.fitTo(structure);
                                break;
                            case 404:
                                $.notify({
                                    icon: "add_alert",
                                    message: "The pdb could not be found for the selected sequence."

                                },{
                                    type: 'danger',
                                    timer: 1000
                                });
                                break;
                            default:
                                break;
                        }
                    }
                });
            });
        })(window, document, window.jQuery);
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 px-2">
            <div class="card">
                <div class="card-header card-header-success">
                    Available Models
                </div>
                <div class="card-body">
                    <select id="sequenceSelect" class="form-control" name="sequence">
                        <optgroup label="Sequences">
                            {% for sequenceName in sequences %}
                                <option value="{{sequenceName}}">{{sequenceName}}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Fragments">

                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-2">
            <div class="card">
                <div class="card-header card-header-success">
                    Viewer
                </div>
                <div class="card-body">
                    <div id="viewer" style="height: 600px"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}