{% set title = "Similarity Network" %}
{% extends "base.html"%}

{% block js %}
    <script>
        (function(window, document, $, undefined)
        {
            var subLinks = 3;
            $.get("/backend/sequence/graph", function(graph)
            {
                let newLinks = [];
                $.each(graph.links, function(linkIndex, link){
                    
                    let lastTarget = link.source;
                    for(let i = 0; i < subLinks; i++)
                    {
                        if (i < subLinks - 1)
                        {
                            let newNode = {
                                id: graph.nodes.length, 
                                sequence: "", 
                                type: "subnode"
                            };
                            graph.nodes.push(newNode);
                            newLinks.push({
                                group: link.group,
                                source: lastTarget,
                                target: newNode.id
                            });
                            lastTarget = newNode.id;
                        }
                        else
                        {
                            newLinks.push({
                                group: link.group,
                                source: lastTarget,
                                target: link.target
                            });
                        }
                    }
                    
                });
                graph.links = newLinks;
                let simGraph = ForceGraph3D();
                simGraph($("#similarityGraph")[0]).d3VelocityDecay(0.1).width($("#similarityGraph").width()).height(500).nodeAutoColorBy("type").nodeVal((n) => {return n.sequence.length * 4}).linkOpacity(1).linkDirectionalParticles(3).linkDirectionalParticleWidth(2).linkLabel('group').linkAutoColorBy('group').graphData(graph);
            });
            $("#compute").click(function()
            {
                $.ajax
                ({
                    type: "POST",
                    url: "/backend/sequence/compare",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({
                        "sequenceNames": [
                            {% for sequenceName in sequences %}
                                ($("#{{sequenceName}}-checkbox").is(":checked") ? "{{sequenceName}}":""),
                            {% endfor %}
                        ]
                    }),
                    success: function(data){
                        $.notify({
                            icon: "add_alert",
                            message: "Job started, computing fragments."
                        },{
                            type: 'success',
                            timer: 1000
                        });

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        switch (jqXHR.status)
                        {
                            case 405:
                                $.notify({
                                    icon: "add_alert",
                                    message: "The backend could not process your request."

                                },{
                                    type: 'danger',
                                    timer: 1000
                                });
                                break;
                            default:
                                break;
                        }
                    }
                });
            });
        })(window, document, window.jQuery);
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-info">
                    Configurations
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            {% for sequenceName in sequences %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input id="{{sequenceName}}-checkbox" class="form-check-input" type="checkbox" value="">
                                        {{sequenceName}}
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-2">
                            <div id="compute" class="btn btn-primary">Compute</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-info">
                    Similarity Matrix
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-info">
                    Similarity Network
                </div>
                <div class="card-body" id="similarityGraph">
                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}