{% set title = "Model Viewer" %}
{% extends "base.html"%}

{% block js %}
    <script>
        (function(window, document, $, undefined)
        {
            var sequenceUpdate = undefined;
            sequenceUpdate = function()
            {
                $.get("/backend/sequence/list", function(sequences)
                {
                    $.each(Object.keys(sequences), function(sequenceIndex, sequenceName)
                    {

                    });
                });
                setTimeout(sequenceUpdate, 1000);
            }
            sequenceUpdate();
        })(window, document, window.jQuery);
    </script>
{% endblock %}

{% block content %}
{% endblock %}