
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Project | Report</title>
    <meta name="description" content="SWISS-MODEL modelling results for Untitled Project." />
    <link rel="stylesheet" type="text/css" href="js/jquery.fancybox.css"/>
    <style>
			.sequence { font-size: 12px; font-family:"Courier New", Courier, monospace;}
			h2 {font-size: 1.2em; font-family:Arial; margin:20 0 0 0}
			h3 {font-size: 1.0em; font-family:Arial; margin:0 0 0 0}
			
			.borderedTbl>tbody>tr>td, .borderedTbl th{ 
        text-align:center;
  			border-top:1px solid #DDD;
  			border-left:1px solid #DDD;
      }
      .borderedTbl{
        border-bottom:1px solid #DDD;
        border-right:1px solid #DDD; 
      }
      td { 
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
                hyphens: auto; 
              }

			body {
			width:100%; 
			height:100%; 
			background-color: #E7E8EA;
			margin: 0;
			padding: 0;
			word-wrap: break-word;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;

			}
			#content{
			padding:20px;
			width:780px;
			margin-left:auto;
			margin-right:auto;
			background-color:#FFF;}
			
			#sib_footer {
			background-color: #333333;
			color: #F7F8FA;
			font-family: Verdana;
			font-size: 10px;
			font-weight: normal;
			height: 20px;
			letter-spacing: 1px;
			
			width:760px;
      margin-left:auto;
      margin-right:auto;
      padding:0px 20px 0px 20px
			}
			
			#sib_footer a {
  			color: #FFFFFF;
  			font-family: Verdana;
  			font-size: 10px;
  			font-weight: normal;
  			letter-spacing: 1px;
			}
			a, a:link, a:visited {
			color: #D6161D;
			text-decoration: none;
			} 	

			.alTbl{ font-family:'Courier New', Courier, monospace; }
	   img{ border:0; }
			
	@media print{
	
	#content{
			padding:20px;
			background-color:#FFF;
		}
	body{ 
	    width:100%;
	    height:100%; 
	    background-color: #FFF;
			padding: 0;
		}	
	#sib_footer{
		display:none;
	}
	}
      
    </style>
  </head>
  <body>
  
  <div id="content">
  	<table border=0 width="100%">
  		<tr>
    		<td valign="middle">
  			<a title="SIB Swiss Institute of Bioinformatics" href="https://www.sib.swiss">
  			<img src="images/sib_ExPASy_logo_small.png"></a>
  		</td>
  		<td valign="middle">
  			<a title="Biozentrum, University of Basel" href="https://www.biozentrum.unibas.ch">
  			<img src="images/biozentrum_en.png"></a>
  		</td>
		  <td valign="middle"><div style="font-size:1.9em;">SWISS-MODEL Homology Modelling Report</div> </td>
	 </tr>
	</table> 
    
  <div style="clear:both"></div>


 
  <h2>Model Building Report</h2>
  <p>
This document lists the results for the homology modelling project &quot;Untitled Project&quot; submitted to SWISS-MODEL workspace
on July 15, 2019, 3:28 a.m..The submitted primary amino acid sequence is given in Table T1.</p>
<p>If you use any results in your research, please cite the relevant publications:</p>
<ul>
  <li>Waterhouse, A., Bertoni, M., Bienert, S., Studer, G., Tauriello, G., Gumienny, R.,
      Heer, F.T., de Beer, T.A.P., Rempfer, C., Bordoli, L., Lepore, R., Schwede, T.   
      SWISS-MODEL: homology modelling of protein structures and complexes.
      Nucleic Acids Res. 46(W1), W296-W303 (2018).
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/29788355"
       target="_blank"><img src="images/pubmed.jpg
                                 "
                            width="17" height="16" align="absmiddle"></a>
    <a href="https://dx.doi.org/10.1093/nar/gky427"
       target="_blank"><img src="images/doi.jpg
                                 "
                            width="30" height="16" align="absmiddle"
                            style="padding-left:2px"></a>
  </li>
      <li><a name="promodII"></a>Guex, N., Peitsch, M.C., Schwede, T. Automated
          comparative protein structure modeling with SWISS-MODEL and
          Swiss-PdbViewer: A historical perspective. Electrophoresis 30,
          S162-S173 (2009).
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/19517507"
       target="_blank"><img src="images/pubmed.jpg
                                 "
                            width="17" height="16" align="absmiddle"></a>
    <a href="https://dx.doi.org/10.1002/elps.200900140"
       target="_blank"><img src="images/doi.jpg
                                 "
                            width="30" height="16" align="absmiddle"
                            style="padding-left:2px"></a>
  </li>
  <li>Bienert, S., Waterhouse, A., de Beer, T.A.P., Tauriello, G., Studer,
    G., Bordoli, L., Schwede, T. The SWISS-MODEL Repository - new features and
    functionality. Nucleic Acids Res. 45, D313-D319 (2017).
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/27899672"
       target="_blank"><img src="images/pubmed.jpg
                                 "
                            width="17" height="16" align="absmiddle"></a>
    <a href="https://dx.doi.org/10.1093/nar/gkw1132"
       target="_blank"><img src="images/doi.jpg
                                 "
                            width="30" height="16" align="absmiddle"
                            style="padding-left:2px"></a>
  </li>
      <li><a name="qmean"></a>Benkert, P., Biasini, M., Schwede, T. Toward the
        estimation of the absolute quality of individual protein structure
        models. Bioinformatics 27,
        343-350 (2011).
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/21134891"
       target="_blank"><img src="images/pubmed.jpg
                                 "
                            width="17" height="16" align="absmiddle"></a>
    <a href="https://dx.doi.org/10.1093/bioinformatics/btq662"
       target="_blank"><img src="images/doi.jpg
                                 "
                            width="30" height="16" align="absmiddle"
                            style="padding-left:2px"></a>
  </li>
      <li><a name="qsqe"></a>Bertoni, M., Kiefer, F., Biasini, M., Bordoli, L.,
        Schwede, T. Modeling protein quaternary structure of homo- and
        hetero-oligomers beyond binary interactions by homology. Scientific
        Reports 7 (2017).
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/28874689"
       target="_blank"><img src="images/pubmed.jpg
                                 "
                            width="17" height="16" align="absmiddle"></a>
    <a href="https://dx.doi.org/10.1038/s41598-017-09654-8"
       target="_blank"><img src="images/doi.jpg
                                 "
                            width="30" height="16" align="absmiddle"
                            style="padding-left:2px"></a>
  </li>
</ul>


<h2>Results</h2><p>
The SWISS-MODEL template library (SMTL version 2019-07-11, PDB release 2019-07-05) was searched with 
BLAST (<a href="#blastp">Camacho et al.</a>) and HHBlits (<a href="#hhblits">Remmert et al.</a>) 

 for evolutionary related structures matching the target sequence in Table T1. For details on the template search, see Materials and Methods. Overall 27 templates were found (Table T2).</p>

<h2>Models</h2>


<p>The following model was built (see Materials and Methods "Model Building"):</p>


      
      <table class="borderedTbl" width="100%" border=0 cellspacing=1 cellpadding=5>
  		<thead>
        <tr>
        <th><h3>Model #01</h3></th>
        <th>File</th>
        <th>Built with</th>
        <th>Oligo-State</th>
        <th>Ligands</th>
        <th title="Global Model Quality Estimate">GMQE</th>
        <th>QMEAN</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="model/01/01.png" target="_blank"><img height="60" src="model/01/01.png"></a>
  </td>
  	    <td><a href="model/01/model.pdb" target="_blank">PDB</a></td>
  		<td>
      ProMod3 Version 1.3.0.
      </td>
        <td>monomer</td>
        <td><div style="max-width:350px;">None</div></td>
        <td>0.21</td>
        <td>-2.36</td>
      </tr>
     </table>
  	
  	<table width="100%" cellspacing=5>
  	<tr>
  	    <td width="30%">
       	 <table id="qmeanGlobalTbl01"></table>
        </td>
          <td width="33%">
            <a href="#lq-chart-01" rel="lq-01" class="fancybox">
              <div id="lq-chart-01-thumb" style="margin:12px 4px;"></div>
            </a>
            <div id="lq-chart-01" style="display:none"></div>
          </td>

          <td width="33%">
            <a href="#qn-chart-01" class="fancybox">
              <div id="qn-chart-01-thumb" style="margin:12px 4px;"></div>
            </a>
            <div id="qn-chart-01" style="display:none"></div>
          </td>
  	 </tr>
  	</table>


  	<table class="borderedTbl">
  		<thead>
  			<tr>
  				<th>Template</th>
  				<th>Seq Identity</th>
  				<th>Oligo-state</th>
  				
  				<th>Found by</th>
  				<th>Method</th>
  				<th>Resolution</th>
  				<th>Seq Similarity</th>
  				<th>Range</th>
  				<th>Coverage</th>
  				<th>Description</th>
  			</tr>
  		</thead>
  		<tbody>
  			
        <tr>
  				<td><a href="model/01/templates/4v62.2.R.pdb.gz" target="_blank" >4v62.2.R</a></td>
  				<td>10.71</td>
  				<td>monomer</td>
  				
  				<td>HHblits</td>
  				<td>X-ray</td>
  				<td>2.90&Aring;</td>
  				<td>0.27</td>
  				<td>31 - 59</td>
  				<td>0.43</td>
  				<td>Photosystem II PsbX protein</td>
  			</tr>
  		</tbody>
  	</table> 
  	

    
    <br>
  	<table width="100%" class="borderedTbl">
  		<thead>
  			<tr>
	  			<th>Ligand</th>
	  			<th>Added to Model</th>
	  			<th>Description</th>
	  		</tr>
	  	</thead>
		<tbody>
	  
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      
	  
      

      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCR</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">BETA-CAROTENE</div></td>
      </tr>
      
      
      
      <tr><td>BCT</td><td>&#10005; -
      
        Not biologically relevant.
        
      
      </td>
      <td><div style="max-width:650px;">BICARBONATE ION</div></td>
      </tr>
      
      
      
      <tr><td>CA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CALCIUM ION</div></td>
      </tr>
      
      
      
      <tr><td>CA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CALCIUM ION</div></td>
      </tr>
      
      
      
      <tr><td>CL</td><td>&#10005; -
      
        Not biologically relevant.
        
      
      </td>
      <td><div style="max-width:650px;">CHLORIDE ION</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>CLA</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">CHLOROPHYLL A</div></td>
      </tr>
      
      
      
      <tr><td>DGD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DIGALACTOSYL DIACYL GLYCEROL (DGDG)</div></td>
      </tr>
      
      
      
      <tr><td>DGD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DIGALACTOSYL DIACYL GLYCEROL (DGDG)</div></td>
      </tr>
      
      
      
      <tr><td>DGD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DIGALACTOSYL DIACYL GLYCEROL (DGDG)</div></td>
      </tr>
      
      
      
      <tr><td>DGD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DIGALACTOSYL DIACYL GLYCEROL (DGDG)</div></td>
      </tr>
      
      
      
      <tr><td>DGD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DIGALACTOSYL DIACYL GLYCEROL (DGDG)</div></td>
      </tr>
      
      
      
      <tr><td>DGD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DIGALACTOSYL DIACYL GLYCEROL (DGDG)</div></td>
      </tr>
      
      
      
      <tr><td>DGD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DIGALACTOSYL DIACYL GLYCEROL (DGDG)</div></td>
      </tr>
      
      
      
      <tr><td>FE2</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">FE (II) ION</div></td>
      </tr>
      
      
      
      <tr><td>HEM</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">PROTOPORPHYRIN IX CONTAINING FE</div></td>
      </tr>
      
      
      
      <tr><td>HEM</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">PROTOPORPHYRIN IX CONTAINING FE</div></td>
      </tr>
      
      
      
      <tr><td>LHG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DIPALMITOYL-PHOSPHATIDYL-GLYCEROLE</div></td>
      </tr>
      
      
      
      <tr><td>LHG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DIPALMITOYL-PHOSPHATIDYL-GLYCEROLE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMG</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DISTEAROYL-MONOGALACTOSYL-DIGLYCERIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMT</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DODECYL-BETA-D-MALTOSIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMT</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DODECYL-BETA-D-MALTOSIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMT</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DODECYL-BETA-D-MALTOSIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMT</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DODECYL-BETA-D-MALTOSIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMT</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DODECYL-BETA-D-MALTOSIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMT</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DODECYL-BETA-D-MALTOSIDE</div></td>
      </tr>
      
      
      
      <tr><td>LMT</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">DODECYL-BETA-D-MALTOSIDE</div></td>
      </tr>
      
      
      
      <tr><td>OEC</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">OXYGEN EVOLVING SYSTEM</div></td>
      </tr>
      
      
      
      <tr><td>PHO</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">PHEOPHYTIN A</div></td>
      </tr>
      
      
      
      <tr><td>PHO</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">PHEOPHYTIN A</div></td>
      </tr>
      
      
      
      <tr><td>PL9</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">2,3-DIMETHYL-5-(3,7,11,15,19,23,27,31,35-NONAMETHYL-2,6,10,14,18,22,26,30,34-HEXATRIACONTANONAENYL-2,5-CYCLOHEXADIENE-1,4-DIONE-2,3-DIMETHYL-5-SOLANESYL-1,4-BENZOQUINONE</div></td>
      </tr>
      
      
      
      <tr><td>PL9</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">2,3-DIMETHYL-5-(3,7,11,15,19,23,27,31,35-NONAMETHYL-2,6,10,14,18,22,26,30,34-HEXATRIACONTANONAENYL-2,5-CYCLOHEXADIENE-1,4-DIONE-2,3-DIMETHYL-5-SOLANESYL-1,4-BENZOQUINONE</div></td>
      </tr>
      
      
      
      <tr><td>PL9</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">2,3-DIMETHYL-5-(3,7,11,15,19,23,27,31,35-NONAMETHYL-2,6,10,14,18,22,26,30,34-HEXATRIACONTANONAENYL-2,5-CYCLOHEXADIENE-1,4-DIONE-2,3-DIMETHYL-5-SOLANESYL-1,4-BENZOQUINONE</div></td>
      </tr>
      
      
      
      <tr><td>SQD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DI-O-ACYL-3-O-[6-DEOXY-6-SULFO-ALPHA-D-GLUCOPYRANOSYL]-SN-GLYCEROL</div></td>
      </tr>
      
      
      
      <tr><td>SQD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DI-O-ACYL-3-O-[6-DEOXY-6-SULFO-ALPHA-D-GLUCOPYRANOSYL]-SN-GLYCEROL</div></td>
      </tr>
      
      
      
      <tr><td>SQD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DI-O-ACYL-3-O-[6-DEOXY-6-SULFO-ALPHA-D-GLUCOPYRANOSYL]-SN-GLYCEROL</div></td>
      </tr>
      
      
      
      <tr><td>SQD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DI-O-ACYL-3-O-[6-DEOXY-6-SULFO-ALPHA-D-GLUCOPYRANOSYL]-SN-GLYCEROL</div></td>
      </tr>
      
      
      
      <tr><td>SQD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DI-O-ACYL-3-O-[6-DEOXY-6-SULFO-ALPHA-D-GLUCOPYRANOSYL]-SN-GLYCEROL</div></td>
      </tr>
      
      
      
      <tr><td>SQD</td><td>&#10005; -
      
        Binding site not conserved. 
          
        
      
      </td>
      <td><div style="max-width:650px;">1,2-DI-O-ACYL-3-O-[6-DEOXY-6-SULFO-ALPHA-D-GLUCOPYRANOSYL]-SN-GLYCEROL</div></td>
      </tr>
      
      
		</tbody>
	</table>
  

<br>


<pre>Target    AGEFSLPTFDSLNITAASLNDDGLDNYQILAIYSTVASSLVLVVSLGAISFWMCSNGSLQCRICI<br>4v62.2.R  ------------------------------FFIGLLSGAVVLGL-TFAVLIAISQIDKV------<br><br></pre>


  <br>
  <hr><br>
  







<h2>Materials and Methods</h2>



<h2>Template Search</h2>
<p>Template search with BLAST and HHBlits
 has been performed against the SWISS-MODEL template library (SMTL, last update: 2019-07-11, last included PDB release: 2019-07-05).</p>

<p>
The target sequence was searched with BLAST against the primary amino acid sequence contained in the SMTL.


A total of 8 templates were found.


</p> 


<p>
An initial HHblits profile has been built using the procedure outlined in (Remmert et al.), followed by 1 iteration of HHblits against NR20. The obtained profile has then be searched against all profiles of the SMTL. A total of 109 templates were found.</p>
















<h2>Model Building</h2>
<p>
Models are built based on the target-template alignment using ProMod3. Coordinates which are conserved between the target and the template are copied from the template to the model. Insertions and deletions are remodelled using a fragment library. Side chains are then rebuilt. Finally, the geometry of the resulting model is regularized by using a force field. In case loop modelling with ProMod3 fails, an alternative model is built with PROMOD-II (<a href="#promodII">Guex et al.</a>).
</p>

<h2>Model Quality Estimation</h2>
<p>
The global and per-residue model quality has been assessed using the QMEAN scoring function (<a href="#qmean">Benkert et al.</a>) . For improved performance, weights of the individual QMEAN terms have been trained specifically for SWISS-MODEL. 
</p>

<h2>Ligand Modelling</h2>
<p>
Ligands present in the template structure are transferred by homology to the model when the following criteria are met: (a) The ligands are annotated as biologically relevant in the template library, (b) the ligand is in contact with the model, (c) the ligand is not clashing with the protein, (d) the residues in contact with the ligand are conserved between the target and the template. If any of these four criteria is not satisfied, a certain ligand will not be included in the model. The model summary includes information on why and which ligand has not been included.</p>

<h2>Oligomeric State Conservation</h2>
<p>
The quaternary structure annotation of the template is used to model the target sequence in its oligomeric form. The method (<a href="#qsqe">Bertoni et al.</a>) is based on a supervised machine learning algorithm, Support Vector Machines (SVM), which combines interface conservation, structural clustering, and other template features to provide a quaternary structure quality estimate (QSQE). The QSQE score is a number between 0 and 1, reflecting the expected accuracy of the interchain contacts for a model built based a given alignment and template. Higher numbers indicate higher reliability. This complements the GMQE score which estimates the accuracy of the tertiary structure of the resulting model.</p>

<h2>References</h2>
<p>
  <ul>
    <li><a name="blastp"></a><b>BLAST</b><br>
        Camacho, C., Coulouris, G., Avagyan, V., Ma, N., Papadopoulos, J.,
        Bealer, K., Madden, T.L. BLAST+: architecture and applications. BMC
        Bioinformatics 10, 421-430 (2009).
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/20003500">
          <img width="17" align="absmiddle" height="16"
               src="images/pubmed.jpg
                    "></a>
        <a href="https://dx.doi.org/10.1186/1471-2105-10-421"
           target="_blank"><img src="images/doi.jpg
                                     " width="30"
                                height="16" align="absmiddle"
                                style="padding-left:2px"></a></li>
    <li><a name="hhblits"></a><b>HHblits</b><br>
        Remmert, M., Biegert, A., Hauser, A., S&ouml;ding, J. HHblits:
        lightning-fast iterative protein sequence searching by HMM-HMM
        alignment. Nat Methods 9, 173-175 (2012).
        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/22198341">
          <img width="17" align="absmiddle" height="16"
               src="images/pubmed.jpg
                    "></a>
        <a href="https://dx.doi.org/10.1038/nmeth.1818"
           target="_blank"><img src="images/doi.jpg
                                     " width="30"
                                height="16" align="absmiddle"
                                style="padding-left:2px"></a></li>
  </ul>

<h2>Table T1:</h2>
<p>Primary amino acid sequence for which templates were searched and models were built.</p>
<div class="sequence">AGEFSLPTFDSLNITAASLNDDGLDNYQILAIYSTVASSLVLVVSLGAISFWMCSNGSLQCRICI<br></div>

<h2>Table T2:</h2>
<table class="borderedTbl">
<thead>
	<tr>
		<th>Template</th>
		<th>Seq Identity</th>
		<th>Oligo-state</th>
		<th>QSQE</th>
		<th>Found by</th>
		<th>Method</th>
		<th>Resolution</th>
		<th>Seq Similarity</th>
		<th>Coverage</th>
		<th>Description</th>
	</tr>
</thead>
<tbody>

<tr>
		<td>6hjq.1.B</td>
		<td>61.11</td>
		<td>homo-trimer</td>
		<td>0.31</td>
		<td>HHblits</td>
		<td>EM</td>
		<td>NA</td>
		<td>0.42</td>
		<td>0.55</td>
		<td>Hemagglutinin</td>
	</tr>
<tr>
		<td>6hjr.1.B</td>
		<td>60.00</td>
		<td>homo-trimer</td>
		<td>0.36</td>
		<td>HHblits</td>
		<td>EM</td>
		<td>NA</td>
		<td>0.42</td>
		<td>0.54</td>
		<td>Hemagglutinin</td>
	</tr>
<tr>
		<td>6hjr.1.D</td>
		<td>60.00</td>
		<td>homo-trimer</td>
		<td>0.36</td>
		<td>HHblits</td>
		<td>EM</td>
		<td>NA</td>
		<td>0.42</td>
		<td>0.54</td>
		<td>Hemagglutinin</td>
	</tr>
<tr>
		<td>6hjr.1.F</td>
		<td>60.00</td>
		<td>homo-trimer</td>
		<td>0.36</td>
		<td>HHblits</td>
		<td>EM</td>
		<td>NA</td>
		<td>0.42</td>
		<td>0.54</td>
		<td>Hemagglutinin</td>
	</tr>
<tr>
		<td>4v62.2.R</td>
		<td>10.71</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>2.90&Aring;</td>
		<td>0.27</td>
		<td>0.43</td>
		<td>Photosystem II PsbX protein</td>
	</tr>
<tr>
		<td>4pbu.1.R</td>
		<td>11.11</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>5.00&Aring;</td>
		<td>0.27</td>
		<td>0.42</td>
		<td>Photosystem II reaction center X protein</td>
	</tr>
<tr>
		<td>1s5l.1.Q</td>
		<td>10.71</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>3.50&Aring;</td>
		<td>0.27</td>
		<td>0.43</td>
		<td>photosystem II PsbX protein</td>
	</tr>
<tr>
		<td>3kzi.1.R</td>
		<td>11.11</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>3.60&Aring;</td>
		<td>0.27</td>
		<td>0.42</td>
		<td>Photosystem II reaction center X protein</td>
	</tr>
<tr>
		<td>5h2f.1.Q</td>
		<td>11.11</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>2.20&Aring;</td>
		<td>0.27</td>
		<td>0.42</td>
		<td>Photosystem II reaction center X protein</td>
	</tr>
<tr>
		<td>5h2f.2.Q</td>
		<td>11.11</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>2.20&Aring;</td>
		<td>0.27</td>
		<td>0.42</td>
		<td>Photosystem II reaction center X protein</td>
	</tr>
<tr>
		<td>6dhg.1.R</td>
		<td>11.11</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>2.50&Aring;</td>
		<td>0.27</td>
		<td>0.42</td>
		<td>Photosystem II reaction center X protein</td>
	</tr>
<tr>
		<td>6dhg.1.b</td>
		<td>11.11</td>
		<td>monomer</td>
		<td></td>
		<td>HHblits</td>
		<td>X-ray</td>
		<td>2.50&Aring;</td>
		<td>0.27</td>
		<td>0.42</td>
		<td>Photosystem II reaction center X protein</td>
	</tr>
</tbody>
</table>


<br>The table above shows the top 12 filtered templates. A further 14 templates were found which were considered to be less suitable for modelling than the filtered list.<br>
4ixr.1.b, 4kw1.1.B, 3a0h.1.Q, 4pj0.1.9, 1qu1.2.C, 1qu1.1.C, 4nkj.1.A, 5xez.1.A, 5xez.2.A, 6hum.1.R, 3a0b.1.Q, 6nby.1.Q, 3wu2.1.a, 6nbx.1.Q
 


	</div>
	
  <div id="sib_footer">			
   <div id="sib_footer_content"> 
       <a href="https://www.sib.swiss">Swiss Institute of Bioinformatics</a>
       <a href="mailto:help-swissmodel@unibas.ch" style="margin-left:16px;">Contact Us</a>
      <div id="sib_footer_right" style="float:right"></div>
  	</div>
	</div>
  
  <script src="js/svgtocanvas.min.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery.fancybox.pack.js"></script> 
  <script src="js/qmean.min.js"></script>
  <script src="js/raphael-min.js"></script>
  <script>
 var localQMEANNormImage='images/qmean_norm.png';
 var modelData = {
   
      "01":{
        'qmean_local' :{"R": [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 0.6906118828000001, 0.7382082693, 0.5070160218, 0.5708196047, 0.6142653188, 0.6451575311000001, 0.66038828, 0.6302346463, 0.6132908296, 0.5495889166, 0.5712623912, 0.5181017618, 0.5071797487, 0.5179896591, 0.5074695882, 0.4570205323, 0.3575729117, 0.35829968570000004, 0.3201447689, 0.3395333291, 0.27418761070000003, 0.2450704957, 0.2989309466, 0.2783752786, 0.2847046908, 0.28199622150000003, 0.2138401792, 0.2672087265, 0.0859400241, null, null, null, null, null, null]},
        'qmean_global':{"interaction_norm_score": -0.0472834829, "qmean6_z_score": -1.9717524144, "torsion_z_score": -1.2595821088, "ss_agreement_z_score": 0.8527124840000001, "acc_agreement_norm_score": 0.17241379310000002, "cbeta_norm_score": 0.00034368910000000003, "packing_z_score": -2.8095979437, "qmean6_norm_score": 0.4853827981, "qmean4_z_score": -2.3635590926, "qmean4_norm_score": 0.48236817190000003, "interaction_z_score": 0.3309530711, "ss_agreement_norm_score": 0.8202490298, "avg_local_score": 0.44497965, "torsion_norm_score": 0.102420231, "packing_norm_score": 0.2073821424, "cbeta_z_score": -1.686535906, "acc_agreement_z_score": -4.473547131, "avg_local_score_error": 0.115}
      }
    
 }  

 $(document).ready( function()
   {  
      drawQMEAN('01')
   }) ;

function drawQMEAN(id)
{
  var resCount = 0;
  var local_scores = [];
  for(chain in modelData[id].qmean_local)
  {
    var ls = {'chain':chain,'scores':[]};

    for(var i=0; i<modelData[id].qmean_local[chain].length; i++)
    {
        ls['scores'].push([i, modelData[id].qmean_local[chain][i]]);
        if(modelData[id].qmean_local[chain][i])
          resCount++;
    }
    local_scores.push(ls);
  }

  drawQMEANLocal(local_scores, id);

  drawQMEANGlobal(modelData[id]['qmean_global'], resCount, id, false);

  $('a[rel=lq-'+id+'],a[href="#qn-chart-'+id+'"]')
    .fancybox(
      {
        padding:30, 
        'cyclic':true,
        'hideOnContentClick':true,
        beforeShow:function(a,b)
        {
          var id = $(this.content[0]).first().attr('id');
          if(id.indexOf('lq-chart')>-1)
            $('#'+id).closest('.fancybox-outer').after(
               '<a style="color:#666;float:right;" onclick="svgToPNG(\''+id+'\',\'Local_quality_estimate.png\');">&#128247; Save as PNG</a>'
               );
          else if(id.indexOf('qn-chart')>-1)
            $('#'+id).after(
               '<a style="color:#666;float:right;" onclick="svgToPNG(\''+id+'\',\'Quality_comparison.png\');">&#128247; Save as PNG</a>'
               );
        }
      });
}




  </script>

  </body>
</html>
